<div class="form-container">
	<form *ngIf="formState == 'enter-ref'" class="ref-form" (ngSubmit)="sendRef()" [formGroup]="referralForm">
		<p class="ref-code-label">{{referral_label}}</p>
		<input class="ref-code-id" type="text" id="refid" name="refid" placeholder="Enter college email ID" formControlName="referral_id">
		<input class="ref-code-code" type="text" id="refcode" name="refcode" placeholder="Enter referral code" formControlName="referral_code">
		<p *ngIf="ref_invalid" class="ref-incorrect">Please check your email ID or referral code</p>
		<div class="button-container">
			<div class="otp-button otp-single">
				<input class="ref-otp-send-button otp-all-button" [class.button-invalid]="spin" [disabled]="spin" type="submit" value="Send OTP">
			</div>
		</div>
	</form>
	<form *ngIf="formState == 'enter-otp'" (ngSubmit)="signUp()" class="reg-form" [formGroup]="registerForm">
		<p class="reg-label">{{reg_label}}</p>
		<input class="reg-name" type="text" id="name" name="name" placeholder="Name" formControlName="name">
		<input class="reg-username" type="text" id="username" name="username" placeholder="Username" formControlName="username">
		<input class="reg-otp" type="text" id="otp" name="otp" placeholder="OTP" formControlName="otp">
		<p *ngIf="otp_invalid" class="otp-incorrect">Invalid OTP</p>
		<p *ngIf="ref_invalid" class="ref-incorrect">Please check your email ID or referral code</p>
		<p *ngIf="registerForm.get('username').invalid" class="ref-incorrect">Invalid Username</p>
		<div class="button-container">
			<div class="otp-button otp-grow">
				<input class="reg-button otp-all-button" [class.button-invalid]="spin || registerForm.invalid" [disabled]="spin || registerForm.invalid" type="submit" value="Register">
			</div>
			<div class="otp-button">
				<input class="reg-reenter-button otp-all-button" [class.button-invalid]="spin" [disabled]="spin" (click)="sendRef()" type="button" value="Resend OTP">
			</div>
		</div>
	</form>
	<div class="link-container">
		<p class="signin-link" (click)="signin()">Click here to login!</p>
		<p class="signin-link" id="waitlist-link" (click)="showWaitlistForm = true">{{"Don't have a referral code?\nRequest Access"}}</p>
	</div>
</div>
<app-waitlist-overlay [show]="showWaitlistForm" (onClose)="showWaitlistForm = false"></app-waitlist-overlay>