button {
	background-color: transparent;
}

.home .menu-button, .home .logo, .home .wishlist {
	color: #f9f9f9;
}

.core .menu-button, .core .logo, .core .wishlist {
	color: #05905F;
}

.it .menu-button, .it .logo, .it .wishlist {
	color: #FF9D63;
}

.consult .menu-button, .consult .logo, .consult .wishlist {
	color: #E76D50;
}

.ent .menu-button, .ent .logo, .ent .wishlist {
	color: #225882;
}

.fin .menu-button, .fin .logo, .fin .wishlist {
	color: #D67BBB;
}

.socdev .menu-button, .socdev .logo, .socdev .wishlist {
	color: #2BA9CA;
}

.home #logo-svg {
	background-color: #f9f9f9;
}

.core #logo-svg {
	background-color: #05905F;
}

.it #logo-svg {
	background-color: #FF9D63;
}

.consult #logo-svg {
	background-color: #E76D50;
}

.ent #logo-svg {
	background-color: #225882;
}

.fin #logo-svg {
	background-color: #D67BBB;
}

.socdev #logo-svg {
	background-color: #2BA9CA;
}

#logo-svg {
	opacity: 1;
}