<mat-toolbar *ngIf="showHeader()">
	<div class="header-container" [@headerColor]="header_trigger">
		<div class="header-button-container">
			<button mat-button disableRipple color="{{mat_style()}}" class="menu-button" (click)="sidenavToggle()">
				<mat-icon>{{'menu'}}</mat-icon>
			</button>
		</div>
		<div class="logo-container" (click)="logoClick()">
			<p [ngClass]="logo_class()" [@logoTransform]="logo_trigger">{{logo}}</p>
		</div>
		<div class="profile-container">
			<div (click)="profileClick()" class="profile-image-container">
				<span class="align-helper"></span><img class="reg-icon">
			</div>
			<div class="profile-wishlist-container">
				<span class="align-helper"></span><p [ngClass]="wishlist_class()">{{wishlist}}</p>
			</div>
		</div>
	</div>
</mat-toolbar>