.header-container.mat-default {
	background-color: black;
}

.header-container.mat-core {
	background-color: white;
}

.header-container.mat-core-scrolled {
	background-color: #D4E9E2;
}

.menu-button.mat-default, .logo.mat-default, .wishlist.mat-default {
	color: white;
}

.menu-button.mat-core, .logo.mat-core, .wishlist.mat-core {
	color: #05905F;
}

.logo {
	opacity: 1;
}