.input-wrapper {
	position: relative;
   
	.input {
	  position: relative;
	  margin: 0;
	  outline: 0;

	  display: flex;
	  flex-direction: row;
	  align-items: center;

	  .label-text {

		line-height: 0;

		#type-svg {
			width: 13px;
			height: 13px;
		}
	  }
   
	  input {
		margin-left: 5px;
		margin-right: 5px;

		width: 100%;
		height: 1.5rem;

		font-family: Poppins;
		font-style: normal;
		font-weight: normal;

		border: none;
		text-overflow: ellipsis;
		white-space: normal;
		overflow: hidden;
		outline: 0;
		cursor: pointer;
		font-size: inherit;
   
		&:disabled {
		  cursor: default;
		  color: #93a1aa;
		}
   
		&:disabled + .dropdown-arrow {
		  color: #93a1aa;
		}
	  }
   
	  .dropdown-arrow {
		color: inherit;
		cursor: pointer;

		line-height: 0;

		img {
			content: url("/assets/svg/down.svg");
			width: 5px;
			height: auto;
		}

		#arrow-svg {
			-webkit-mask: url("/assets/svg/down.svg") no-repeat center;
			mask: url("/assets/svg/down.svg") no-repeat center;

			width: 5px;
			height: 7px;
		}

	  }
	}
  }
   
  .dropdown-options-container {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.24);
	display: block;
	overflow: auto;

	background-color: #F9F9F9;
  }