.core .svg {
	background-color: #05905F;
}

.it .svg {
	background-color: #FF9D63;
}

.consult .svg {
	background-color: #E76D50;
}

.ent .svg {
	background-color: #225882;
}

.fin .svg {
	background-color: #D67BBB;
}

.socdev .svg {
	background-color: #2BA9CA;
}

.core input::placeholder, .core input {
	color: #05905F;
}

.it input::placeholder, .it input {
	color: #FF9D63;
}

.consult input::placeholder,.consult input {
	color: #E76D50;
}

.ent input::placeholder, .ent input {
	color: #225882;
}

.fin input::placeholder, .fin input {
	color: #D67BBB;
}

.socdev input::placeholder, .socdev input {
	color: #2BA9CA;
}