@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.opps-card {
	position: relative;
	width: 100%;
	height: 100%;

	box-shadow: 0px 8px 12px rgba(18, 18, 18, 0.4);
	border-radius: 4.36%/6%;

	padding: 3.63%;
	display: inline-block;

	background-color: white;

	font-family: poppins;
	font-style: normal;

	line-height: 0px;
}

.opps-type-container {
	height: calc(1600%/180);
	width: 40%;
	
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 34.58%/231.25%;
	display: table;

	padding-left: 2.5%;
	padding-right: 2.5%;
}

.opps-type {

	font-weight: 900;
	font-size: 58.3%;

	height: 100%;

	text-align: center;
	vertical-align: middle;

	display: table-cell;

	color: white;
}

.opps-name {
	margin-top: 2.9%;

	width: 74%;

	font-weight: bold;
	font-size: 100%;
	line-height: 100%;
	word-wrap: break-word;

	margin-bottom: 0px;
}

.opps-org {
	font-weight: normal;
	font-size: 58.3%;
	line-height: 100%;

	margin-top: 3%;
}

.opps-location {
	position: absolute;
	bottom: 3.63%;
	width: 70%;

	font-weight: 500;
	font-size: 66.66%;
	line-height: 100%;

	white-space: pre-line;

	margin: 0 0;
}

.opps-duration {
	position: absolute;
	right: 3.63%;
	bottom: 3.63%;

	font-weight: 500;
	font-size: 66.66%;
	line-height: 100%;

	text-align: right;

	margin: 0 0;
}