.opps-interested-button {
	background-color: transparent !important;
}

.core .opps-in-wishlist {
	color: #05905F !important;
}

.it .opps-in-wishlist {
	color: #FF9D63 !important;
}

.consult .opps-in-wishlist {
	color: #E76D50 !important;
}

.fin .opps-in-wishlist {
	color:#D67BBB !important;
}

.ent .opps-in-wishlist {
	color:#225882 !important;
}

.new .opps-in-wishlist {
	color: #f9f9f9 !important;
}

.socdev .opps-in-wishlist {
	color: #2BA9CA !important;
}

.opps-interested-button.opps-not-wishlist {
	color: #f9f9f9 !important;
}

.new.core .opps-interested-button.opps-not-wishlist {
	color: #05905F !important;
}

.new.it .opps-interested-button.opps-not-wishlist {
	color: #FF9D63 !important;
}

.new.consult .opps-interested-button.opps-not-wishlist {
	color: #E76D50 !important;
}

.new.fin .opps-interested-button.opps-not-wishlist {
	color: #D67BBB !important;
}

.new.ent .opps-interested-button.opps-not-wishlist {
	color: #225882 !important;
}

.new.socdev.opps-interested-button.opps-not-wishlist {
	color: #2BA9CA !important;
}

.core .opps-not-wishlist {
	background-color: #05905F !important;
}

.it .opps-not-wishlist {
	background-color: #FF9D63 !important;
}

.consult .opps-not-wishlist {
	background-color: #E76D50 !important;
}

.fin .opps-not-wishlist {
	background-color: #D67BBB !important;
}

.ent .opps-not-wishlist {
	background-color: #225882 !important;
}

.socdev .opps-not-wishlist {
	background-color: #2BA9CA !important;
}

.new .opps-not-wishlist {
	background-color: #f9f9f9 !important;
}