@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

.opps-card {
	cursor: pointer;

	position: relative;
	width: 100%;
	height: 100%;

	box-shadow: 0px 8px 14px rgba(167, 167, 167, 0.4);
	border-radius: 4.36%/6%;

	padding: 6.171%;
	display: inline-block;

	background-color: white;

	font-family: poppins;
	font-style: normal;

	line-height: 0px;

	display: flex;
	flex-direction: column;
}

.wishlist.opps-card, .wishlistv2.opps-card {
	box-shadow: 0px 8px 14px rgba(18, 18, 18, 0.4);
}

.opps-type-interest-container {
	display: flex;
	flex-direction: row;
}

.opps-type-container {
	height: calc(1600%/180);
	max-height: calc(1600%/180);

	flex-grow: 1;
}

.opps-type {
	font-weight: 900;
	font-size: 58.3%;
	line-height: 21px;

	border-radius: 37px;

	height: 100%;

	max-width: 180px;

	text-align: center;
	vertical-align: middle;

	display: table-cell;

	color: white;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	padding-left: 6px;
	padding-right: 6px;
}

@media screen and (max-width: 1180px) {
	.opps-type {
		max-width: 100px;
	}
}

@media screen and (max-width: 800px) {
	.opps-type {
		max-width: 40px;
	}
}

.opps-interested-button-container {
	float: right;
	min-width: 20px;
}

.opps-interested-button, .material-icons, .mat-mini-fab {
	max-width: 20px;
	max-height: 20px;

	line-height: 20px !important;

	padding: 0 0 !important;
}

::ng-deep span.mat-mini-fab, ::ng-deep span.mat-button-wrapper {
	padding: 0 0 !important;
	line-height: 0 !important;

	font-size: 15px !important;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.opps-interested-button, .material-icons, .mat-mini-fab {
		max-width: 15px;
		max-height: 15px;
	
		line-height: 15px !important;
	}

	.opps-interested-button-container {
		min-width: 15px;
	}
	
	::ng-deep span.mat-mini-fab, ::ng-deep span.mat-button-wrapper {
		padding: 0 0 !important;
		line-height: 0 !important;
	
		font-size: 11px !important;
	}

	mat-icon {
		transform: translateY(-2px);
	}
}

@media screen and (max-width: 400px) {
	.opps-interested-button, .material-icons, .mat-mini-fab {
		max-width: 11px;
		max-height: 11px;
	
		line-height: 11px !important;
	}
	
	::ng-deep span.mat-mini-fab, ::ng-deep span.mat-button-wrapper {
		padding: 0 0 !important;
		line-height: 0 !important;
	
		font-size: 10px !important;
	}

	mat-icon {
		transform: translateY(-1px);
	}

	.opps-interested-button-container {
		min-width: 11px;
	}
}

.mat-mini-fab {
	box-shadow: none;
}

.opps-name {
	margin-top: 2.9%;

	width: 100%;

	font-weight: bold;
	font-size: 100%;
	line-height: 102%;
	word-wrap: break-word;

	text-overflow: ellipsis;
	overflow: hidden;

	margin-bottom: 0px;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

	padding-bottom: 2px;
}

.wishlistv2 #name, .recc #name {
	flex-grow: 1;
}

.wishlistv2 .opps-name, .recc .opps-name {

	-webkit-line-clamp: 2;
}

.opps-org {
	font-weight: normal;
	font-size: 58.3%;
	line-height: 120%;

	word-wrap: break-word;

	text-overflow: ellipsis;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;

	margin-top: 3%;
}

.opps-location {
	position: absolute;
	bottom: calc(6.171% - 2px);
	padding-bottom: 2px;
	width: 70%;

	font-weight: 600;
	font-size: 66.66%;
	line-height: 100%;

	white-space: pre-line;

	word-wrap: break-word;

	text-overflow: ellipsis;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

	margin: 0 0;
}

.opps-duration {
	position: absolute;
	right: 6.171%;
	bottom: 6.171%;

	font-weight: 500;
	font-size: 66.66%;
	line-height: 100%;

	text-align: right;

	margin: 0 0;
}