<div class="comment-container">
	<div class="comment-main">
		<div class="image-container">
			<img class="reg-icon">
		</div>
		<div class="comment-data">
			<div class="comment-text">
				<b>{{comment.user.name}}</b> {{comment.data}}
			</div>
			<div class="comment-reply">
				<div class="time-link">
					{{comment.createdAt | timeAgo}}
				</div>
				<div class="reply-link" (click)="replying = !replying">
					{{replying ? 'Close':'Reply'}}
				</div>
			</div>
			<div *ngIf="replying" class="flex-row reply" [class.shift]="depth">
				<div class="image-container reply-image">
					<img class="reg-icon">
				</div>
				<form class="comment-reply-form" (ngSubmit)="submitReply()" [formGroup]="replyForm">
					<input autocomplete="off" spellcheck="false" class="opp-reply-comment-input" placeholder="Reply to this comment." formControlName="data">
				</form>
			</div>
		</div>
	</div>
</div>
