<div class="comment-container">
	<div class="comment-main">
		<div class="image-container">
			<a routerLink="/profilev2/{{comment.user.username}}"><img class="reg-icon" src="{{dpUrl}}"></a>
		</div>
		<div class="comment-data">
			<div class="comment-text">
				<a routerLink="/profilev2/{{comment.user.username}}"><b>{{comment.user.name}}</b></a> {{comment.data}}
			</div>
			<div class="comment-reply">
				<div class="time-link">
					{{comment.createdAt | timeAgo}}
				</div>
				<div class="reply-link" (click)="replying = !replying">
					{{replying ? 'Close':'Reply'}}
				</div>
			</div>
			<div *ngIf="replying" class="flex-row reply" [class.shift]="depth">
				<div class="image-container reply-image">
					<img *ngIf="!spin" class="reg-icon-reply" src="{{dpUrlOwn}}">
					<mat-spinner diameter=16 *ngIf="spin"></mat-spinner>
				</div>
				<form class="comment-reply-form" (ngSubmit)="submitReply()" [formGroup]="replyForm">
					<input autocomplete="off" spellcheck="false" class="opp-reply-comment-input" placeholder="Reply to this comment." formControlName="data">
					<button id="send-button" type="submit"><img id="send-icon"></button>
				</form>
			</div>
		</div>
	</div>
</div>
