@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.page-container {
	width: 100%;
	height: 100%;
	padding-top: 60px;

	padding-left: 45px;
	padding-right: 45px;

	display: flex;
	flex-direction: column;
}

.domain-container {
	padding-top: 12px;
}

.domain {
	font-family: colombo;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 67px;

	text-align: center;
}

.search-container {
	padding-top: 13px;
	width: 100%;
}

.search-bar {
	width: 100%;
	height: 40px;

	background: #F9F9F9;
	border-radius: 62px;

	padding-left: 15px;
	padding-right: 10px;

	display: flex;

}

.search-icon {
	width: 20px;
	height: 20px;

	font-size: 24px;

	line-height: 20px;
	
	margin-top: 10px;
	margin-bottom: 10px;

	color: #05905F;
}

.search-input {
	
	background-color: transparent;

	border-style: none;
	outline: none;

	flex: 100%;

	padding-left: 15px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 40px;

	color: #05905F;

	min-width: 0px;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #05905F;
	opacity: 1; /* Firefox */
}

.search-type-toggle {
	display: flex;
	justify-content: center;
	align-items: center; 
}

mat-button-toggle-group {
	vertical-align: middle;
	box-shadow: none !important;
	border-style: none !important;
}

mat-button-toggle {

	border: 1px solid #05905F !important;

	height: 26px;
	box-sizing: border-box;
	border-radius: 39px;

	margin-left: 7px;

	display: flex;
	align-items: center;
	text-align: center;

}

mat-button-toggle.core {
	color: #05905F;
	background-color: #F9F9F9 !important;
}

.mat-button-toggle-label-content {
    font-family: poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;

	text-align: center;
}

.core.mat-button-toggle-checked {
	background-color: #05905F !important;
	color: #FFFFFF !important;
}

.information.mat-button-toggle-checked {
	background-color: #FFA954 !important;
	color: #FFFFFF !important;
}

.consulting.mat-button-toggle-checked {
	background-color: #E76D50 !important;
	color: #FFFFFF !important;
}

.entrepreneurship.mat-button-toggle-checked {
	background-color: #225882 !important;
	color: #FFFFFF !important;
}

.finance.mat-button-toggle-checked {
	background-color: #9562A5 !important;
	color: #FFFFFF !important;
}

.socdev.mat-button-toggle-checked {
	background-color: #44A7C1 !important;
	color: #FFFFFF !important;
}

.filter-container {
	width: 100%;

	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;

}

.domain-filter {
	height: 25px;

	display: flex;
	flex-direction: row;

	background: #F9F9F9;
	border-radius: 8px;

	padding-left: 6px;
	padding-right: 10px;

	justify-content: center;
	align-items: center; 
}

.domain-filter-label {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;

	display: flex;
	align-items: center;

	color: #05905F;

	padding-right: 10px;
}

::ng-deep .mat-select-arrow {
	color: #05905F !important;
}

.opps-list {

	padding-top: 15px;

	display: flex;
	flex-flow: row wrap;
	justify-content: left;

	overflow: scroll;

	margin-left: -30px;
	margin-right: -30px;

	flex-grow: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.opps-list::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.opps-list {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.opp-card-container {
	margin-left: 30px;
	margin-bottom: 30px;

	height: 200px;
	width: calc((100vw - 90px - 3 * 30px)/4);

	font-size: 24px;
}

@media screen and (min-width: 1360px) {
	
	.opp-card-container {

		width: calc((100vw - 90px - 4 * 30px)/5);
		height: calc((100vw - 90px - 4 * 30px)*200/(5*275));
		font-size: calc((100vw - 90px - 4 * 30px)*24/(5*275));
	}
}

@media screen and (max-width: 1020px) {
	.opp-card-container {
		width: calc((100vw - 90px - 2 * 30px)/3);
	}
}

@media screen and (max-width: 790px) {
	
	.opp-card-container {
		margin-bottom: calc(100vw * 0.0234);

		width: calc((100vw - 90px - 1 * 30px)/2);
		height: calc((100vw - 90px - 1 * 30px)*100/275);
		font-size: calc((100vw - 90px - 1 * 30px)*24/(2*275));
	}
}