<div [ngClass]="page_class">
	<div class="domain-container" #domainContainer [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate}}">
		<p class="domain">{{domain}}</p>
	</div>

	<div class="shadow-container" #shadowContainer [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate + 5 * (this.isMobile ? 0 : 1)}}" [@shadowTrigger]="isScrolledToTop ? 'hasNoShadow' : 'hasShadow'">
		<form [formGroup]="searchForm" (ngSubmit)="search()">
			<div class="search-container">
				<div class="search-row">
					<div class="search-bar">
						<mat-icon *ngIf="!spin" class="search-icon">search</mat-icon>
						<mat-spinner *ngIf="spin && isMobile" diameter=16></mat-spinner>
						<mat-spinner *ngIf="spin && !isMobile" diameter=20></mat-spinner>
						<input class="search-input" type="search" id="searchstring" name="searchstring" placeholder="Search" autocomplete="off" autocorrect="off" spellcheck="false" formControlName="searchstring">
						<div *ngIf="isMobile" class="filter-button" (click)="isOverlayOpen = true">
							<img src="/assets/svg/filter.svg" id="filter-button">
						</div>
					</div>
					<div class="search-type-toggle">
						<mat-button-toggle-group name="search-type-toggle" formControlName="searchtype">
							<mat-button-toggle *ngFor="let type of searchTypes" disableRipple id="{{type}}" value="{{type}}">{{type}}</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>
				<form *ngIf="searchForm.value['searchtype'] == 'Opps'" [formGroup]="oppsFilterForm">
					<div class="filter-container">
						<!---<div class="domain-filter">
							<mat-placeholder class="domain-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">casino</mat-icon><span class="domain-label-string">Domain</span></mat-placeholder>
							<mat-select disableOptionCentering>
							</mat-select>
						</div>-->
						<div id="opps-type" class="sub-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/opps-type.svg"
							placeholder="Opps Type"
							styleType="{{pageStyle}}"
							formControlName="type"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of tags_vector[pageStyle]" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
						<div class="sub-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/date.svg"
							placeholder="Date"
							styleType="{{pageStyle}}"
							formControlName="date"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of months_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
						<div class="sub-filter" id="region-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/region.svg"
							placeholder="Region"
							styleType="{{pageStyle}}"
							formControlName="region"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of regions_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
						<div class="sub-filter" id="funding-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/funding.svg"
							placeholder="Funding"
							styleType="{{pageStyle}}"
							formControlName="funding"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of funding_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
						<div class="sub-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/active.svg"
							placeholder="Status"
							styleType="{{pageStyle}}"
							formControlName="active"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of active_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
					</div>
				</form>
				<form *ngIf="searchForm.value['searchtype'] == 'People'" [formGroup]="userFilterForm">
					<div class="filter-container">
						<div class="sub-filter" id="college-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/college.svg"
							placeholder="College"
							styleType="{{pageStyle}}"
							formControlName="college"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of college_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
						<div class="sub-filter" id="year-filter">
							<app-custom-select [required]="true"
							labelUrl="/assets/svg/year.svg"
							placeholder="Year"
							styleType="{{pageStyle}}"
							formControlName="year"
							>
								<app-custom-select-option value='All'></app-custom-select-option>
								<app-custom-select-option *ngFor="let tag of year_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
							</app-custom-select>
						</div>
					</div>
				</form>
			</div>
		</form>
	</div>

	<div [ngClass]="list_class" (scroll)="scrolled()" #scrollFrame [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate + 5 * (this.isMobile ? 0 : 1)}}">

		<div *ngIf="searchForm.value['searchtype'] == 'Opps'" class="opps-list-inner">
			<div class="opp-card-container" *ngFor="let opportunity of opportunityList">
				<app-opps-card [opps]="opportunity"></app-opps-card>
			</div>
		</div>
		<div *ngIf="searchForm.value['searchtype'] == 'People'" class="user-list-inner">
			<div class="user-card-container" *ngFor="let user of userList">
				<app-user-card [user]="user"></app-user-card>
			</div>
		</div>
		
	</div>

	<div *ngIf="isOverlayOpen" class="overlay-with-bg" (click)="isOverlayOpen=false">
		<div class="overlay-container" (click)="stopPropagate($event)">
			<form *ngIf="searchForm.value['searchtype'] == 'Opps'" [formGroup]="oppsFilterForm">
				<div class="filter-mobile-container">
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/opps-type.svg"
						placeholder="Opps Type"
						styleType="{{pageStyle}}"
						formControlName="type"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of tags_vector[pageStyle]" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/date.svg"
						placeholder="Date"
						styleType="{{pageStyle}}"
						formControlName="date"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of months_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/region.svg"
						placeholder="Region"
						styleType="{{pageStyle}}"
						formControlName="region"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of regions_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/funding.svg"
						placeholder="Funding"
						styleType="{{pageStyle}}"
						formControlName="funding"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of funding_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/active.svg"
						placeholder="Status"
						styleType="{{pageStyle}}"
						formControlName="active"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of active_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
				</div>
			</form>
			<form *ngIf="searchForm.value['searchtype'] == 'People'" [formGroup]="userFilterForm">
				<div class="filter-mobile-container">
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/college.svg"
						placeholder="College"
						styleType="{{pageStyle}}"
						formControlName="college"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of college_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/year.svg"
						placeholder="Year"
						styleType="{{pageStyle}}"
						formControlName="year"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of year_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
				</div>
			</form>
			<div class="apply-filter-container">
				<div class="apply-filter" (click)="isOverlayOpen = false">
					Apply Filters
				</div>
			</div>
		</div>
	</div>
</div>
<!--<form #searchForm="ngForm">
	<div class="search-container" [style.border-color]="getMainColor()">
		<mat-icon class="search-icon" [style.color]="getMainColor()">search</mat-icon>
		<input (keyup.enter)="search(searchForm)" class="search" type="text" id="searchstring" name="searchstring" placeholder="Search" [style.color]="getMainColor()" [ngModel]="searchstring" ngModel required>
		<div class="search-choice">
			<mat-button-toggle-group name="search-choice" aria-label="Search Choice">
				<mat-button-toggle id="opps" [ngClass]="getDomain()" value="Opps">Opps</mat-button-toggle>
				<mat-button-toggle id= "people" [ngClass]="getDomain()" value="People">People</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>
</form>

<div class="opps-list">
	<app-opps-card *ngFor="let opportunity of opportunity_list" [opps]="opportunity"></app-opps-card>
</div>-->