<div [ngClass]="page_class">
	<div class="domain-container" #domainContainer [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate}}">
		<p class="domain">{{domain}}</p>
	</div>

	<div class="shadow-container" #shadowContainer [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate + 5 * (this.isMobile ? 0 : 1)}}" [@shadowTrigger]="isScrolledToTop ? 'hasNoShadow' : 'hasShadow'">
		<form [formGroup]="searchForm" (ngSubmit)="search()">
			<div class="search-container">
				<div class="search-row">
					<div class="search-bar">
						<mat-icon class="search-icon" (click)="search()">search</mat-icon>
						<input class="search-input" type="search" id="searchstring" name="searchstring" placeholder="Search" autocomplete="off" autocorrect="off" spellcheck="false" formControlName="searchstring">
					</div>
					<div class="search-type-toggle">
						<mat-button-toggle-group name="search-type-toggle" formControlName="searchtype">
							<mat-button-toggle *ngFor="let type of searchTypes" disableRipple id="{{type}}" value="{{type}}">{{type}}</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>
				<div class="filter-container">
					<!---<div class="domain-filter">
						<mat-placeholder class="domain-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">casino</mat-icon><span class="domain-label-string">Domain</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>-->
					<div class="sub-filter">
						<mat-placeholder class="sub-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">settings</mat-icon><span class="sub-label-string">Opps&nbsp;Type</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>
					<div class="sub-filter">
						<mat-placeholder class="sub-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">calendar_today</mat-icon><span class="sub-label-string">Date</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>
					<div class="sub-filter">
						<mat-placeholder class="sub-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">location_on</mat-icon><span class="sub-label-string">Region</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>
					<div class="sub-filter">
						<mat-placeholder class="sub-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">attach_money</mat-icon><span class="sub-label-string">Funding</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>
					<div *ngIf='false' class="sort-filter">
						<mat-placeholder class="sub-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">sort</mat-icon><span class="sub-label-string">Sort</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div [ngClass]="list_class" (scroll)="scrolled()" #scrollFrame [@domainTransform]="{value: isScrolledToTop ? 'default' : 'transform', params: {translate: domainTranslate + 5 * (this.isMobile ? 0 : 1)}}">

		<div *ngIf="searchForm.value['searchtype'] == 'Opps'" class="opps-list-inner">
			<div class="opp-card-container" *ngFor="let opportunity of opportunityList">
				<app-opps-card [opps]="opportunity"></app-opps-card>
			</div>
		</div>
		<div *ngIf="searchForm.value['searchtype'] == 'People'" class="user-list-inner">
			<div class="user-card-container" *ngFor="let user of userList">
				<app-user-card [user]="user"></app-user-card>
			</div>
		</div>
		
	</div>
</div>
<!--<form #searchForm="ngForm">
	<div class="search-container" [style.border-color]="getMainColor()">
		<mat-icon class="search-icon" [style.color]="getMainColor()">search</mat-icon>
		<input (keyup.enter)="search(searchForm)" class="search" type="text" id="searchstring" name="searchstring" placeholder="Search" [style.color]="getMainColor()" [ngModel]="searchstring" ngModel required>
		<div class="search-choice">
			<mat-button-toggle-group name="search-choice" aria-label="Search Choice">
				<mat-button-toggle id="opps" [ngClass]="getDomain()" value="Opps">Opps</mat-button-toggle>
				<mat-button-toggle id= "people" [ngClass]="getDomain()" value="People">People</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>
</form>

<div class="opps-list">
	<app-opps-card *ngFor="let opportunity of opportunity_list" [opps]="opportunity"></app-opps-card>
</div>-->