.page-container.core {
	background-color: #D4E9E2;
}

.page-container.it {
	background-color: #FAECDE;
}

.page-container.consult {
	background-color: #FBE9E5;
}

.page-container.fin {
	background-color: #F1E4ED;
}

.page-container.ent {
	background-color: #D9E1E7;
}

.page-container.socdev {
	background-color: #DAEDF2;
}

.core .domain, .core .search-icon, .core .search-input, .core mat-button-toggle, .core::ng-deep .domain-filter .mat-select-arrow, .core .domain-filter-label, .core .sub-filter-label, .core ::ng-deep .sub-filter .mat-select-arrow, .core ::ng-deep .sort-filter .mat-select-arrow {
	color: #05905F;
}

.it .domain, .it .search-icon, .it .search-input, .it mat-button-toggle, .it::ng-deep .domain-filter .mat-select-arrow, .it .domain-filter-label, .it .sub-filter-label, .it ::ng-deep .sub-filter .mat-select-arrow, .it ::ng-deep .sort-filter .mat-select-arrow {
	color: #FF9D63;
}

.consult .domain, .consult .search-icon, .consult .search-input, .consult mat-button-toggle, .consult::ng-deep .domain-filter .mat-select-arrow, .consult .domain-filter-label, .consult .sub-filter-label, .consult ::ng-deep .sub-filter .mat-select-arrow, .consult ::ng-deep .sort-filter .mat-select-arrow {
	color: #E76D50;
}

.ent .domain, .ent .search-icon, .ent .search-input, .ent mat-button-toggle, .ent::ng-deep .domain-filter .mat-select-arrow, .ent .domain-filter-label, .ent .sub-filter-label, .ent ::ng-deep .sub-filter .mat-select-arrow, .ent ::ng-deep .sort-filter .mat-select-arrow {
	color: #225882;
}

.fin .domain, .fin .search-icon, .fin .search-input, .fin mat-button-toggle, .fin::ng-deep .domain-filter .mat-select-arrow, .fin .domain-filter-label, .fin .sub-filter-label, .fin ::ng-deep .sub-filter .mat-select-arrow, .fin ::ng-deep .sort-filter .mat-select-arrow {
	color: #D67BBB;
}

.socdev .domain, .socdev .search-icon, .socdev .search-input, .socdev mat-button-toggle, .socdev::ng-deep .domain-filter .mat-select-arrow, .socdev .domain-filter-label, .socdev .sub-filter-label, .socdev ::ng-deep .sub-filter .mat-select-arrow, .socdev ::ng-deep .sort-filter .mat-select-arrow {
	color: #2BA9CA;
}

.core mat-button-toggle {
	border: 1px solid #05905F;
}

.it mat-button-toggle {
	border: 1px solid #FF9D63;
}

.consult mat-button-toggle {
	border: 1px solid #E76D50;
}

.ent mat-button-toggle {
	border: 1px solid #225882;
}

.fin mat-button-toggle {
	border: 1px solid #D67BBB;
}

.socdev mat-button-toggle {
	border: 1px solid #2BA9CA;
}

.search-bar {
	background: #F9F9F9;
}

mat-button-toggle {
	background-color: #F9F9F9 !important;
}

.mat-button-toggle-checked {
	color: #FFFFFF !important;
}

.core .mat-button-toggle-checked {
	background-color: #05905F !important;
}

.it .mat-button-toggle-checked {
	background-color: #FF9D63 !important;
}

.consult .mat-button-toggle-checked {
	background-color: #E76D50 !important;
}

.fin .mat-button-toggle-checked {
	background-color:  #D67BBB !important;
}

.ent .mat-button-toggle-checked {
	background-color: #225882 !important;
}

.socdev .mat-button-toggle-checked {
	background-color: #2BA9CA !important;
}

.domain-filter, .sub-filter {
	background: #F9F9F9;
}

.domain-filter-icon {
	background-color: #FF8F8F;
}

.core .search-input::placeholder {
	color: #05905F;
	opacity: 0.5;
}

.it .search-input::placeholder {
	color: #FF9D63;
	opacity: 0.5;
}

.consult .search-input::placeholder {
	color: #E76D50;
	opacity: 0.5;
}

.ent .search-input::placeholder {
	color: #225882;
	opacity: 0.5;
}

.fin .search-input::placeholder {
	color: #D67BBB;
	opacity: 0.5;
}

.socdev .search-input::placeholder {
	color: #2BA9CA;
	opacity: 0.5;
}