<div class="opps-wishlistv2-container">
	<div class="opps-counter">{{counter_text}}</div>
	<div class="opps-list-container">
		<div class="left-arrow-container" (click)="left()">
			<button class="left-arrow-button" mat-mini-fab disabled>
				<mat-icon>keyboard_arrow_left</mat-icon>
			</button>
		</div>
		<div [class.show]="opportunity_list?.length > 0" class="opps-list">
			<div [ngClass]="{'opp-card-container': true, 'opp-card-first': first}" *ngFor="let opportunity of opportunity_list; let first=first; let i=index" id="{{'card' + i}}">
				<app-opps-card [opps]="opportunity" [type]="'wishlistv2'"></app-opps-card>
			</div>
		</div>
		<div class="right-arrow-container" (click)="right()">
			<button class="right-arrow-button" mat-mini-fab disabled >
				<mat-icon>keyboard_arrow_right</mat-icon>
			</button>
		</div>
	</div>
</div>