.opps-counter {
	text-align: right;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;

	color: #F9F9F9;

	padding-right: 55px;
	padding-bottom: 5px;
}

.opps-list-container {
	display: flex;
	flex-flow: row;
	justify-content: left;

	margin-left: -45px;
	margin-right: -45px;

	margin-bottom: 30px;

	padding-top: 2px;
	padding-bottom: 2px;
}

.left-arrow-container, .right-arrow-container {
	min-width: 70px;

	align-content: center;
	text-align: center;

	display: flex;

	align-items: center;
	justify-content: center;

	margin-left: 10px;
	margin-right: 10px;
}

.left-arrow-button, .right-arrow-button {
	color: #363636 !important;
	background-color: #C4C4C4 !important;

	cursor: pointer;
}

.opps-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: left;

	overflow-x: scroll;
	overflow-y: hidden;

	flex-grow: 1;

	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.opps-list::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.opps-list {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.opp-card-container {
	margin-left: 27px;
	margin-bottom: 0;

	height: calc((100vw - 180px - 3 * 27px)*147/(4*255));
	width: calc((100vw - 180px - 3 * 27px)/4);
	min-width: calc((100vw - 180px - 3 * 27px)/4);

	font-size: 24px;

	margin-top:10px;
	margin-bottom: 20px;
}

.opp-card-first {
	margin-left: 0;
}

@media screen and (min-width: 1360px) {
	
	.opp-card-container {
		width: calc((100vw - 90px - 4 * 30px)/5);
		min-width: calc((100vw - 90px - 4 * 30px)/5);
		height: calc((100vw - 90px - 4 * 30px)*147/(5*255));
		font-size: calc((100vw - 90px - 4 * 30px)*24/(5*255));
	}
}

@media screen and (max-width: 1100px) {
	.opp-card-container {
		height: calc((100vw - 180px - 3 * 27px)*147/(4*255));
		width: calc((100vw - 180px - 3 * 27px)/4);
		min-width: calc((100vw - 180px - 3 * 27px)/4);
		font-size: calc((100vw - 180px - 3 * 30px)*24/(4*255));
	}
}

@media screen and (max-width: 790px) {

	.opp-card-container {
		height: calc((100vw - 180px - 2 * 27px)*147/(3*255));
		width: calc((100vw - 180px - 2 * 27px)/3);
		min-width: calc((100vw - 180px - 2 * 27px)/3);
		font-size: calc((100vw - 180px - 2 * 30px)*24/(3*255));
	}
}

@media screen and (max-width: 600px) {

	.opp-card-container {
		height: calc((100vw - 180px - 1 * 27px)*147/(2*255));
		width: calc((100vw - 180px - 1 * 27px)/2);
		min-width: calc((100vw - 180px - 1 * 27px)/2);
		font-size: calc((100vw - 180px - 1 * 30px)*24/(2*255));
	}
}

@media screen and (max-width: 480px) {

	.opp-card-container {
		height: calc((100vw - 180px)*147/(1*255));
		width: calc((100vw - 180px)/1);
		min-width: calc((100vw - 180px)/1);
		font-size: calc((100vw - 180px)*24/(1*255));
	}
}