<mat-sidenav-container>

	<!--<mat-sidenav [ngClass]="sidenav_class" #sidenav [(opened)]="isMenuOpen">
		<app-sidenav [page]="page_style" (onSidenavToggle)="sidenav.toggle()"></app-sidenav>
	</mat-sidenav>-->
	<mat-sidenav #sidenav [(opened)]="isMenuOpen" [ngClass]="sidenav_class">
		<app-sidenav (onSidenavToggle)="sidenav.toggle()"></app-sidenav>
	</mat-sidenav>

	<mat-sidenav-content>

		<app-header (onSidenavToggle)="sidenav.toggle()" ></app-header>

		<router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>