@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

label {
	margin: 0 0;
}

@media screen and (min-width: 600px)
{
	:host {
		flex-grow: 1;
	}
}

@media screen and (max-width: 600px) {
	:host {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
}

.form-container {
	display: flex;
	flex-direction: column;

	width: 100%;

	max-width: 325px;

	float: right;
}

@media screen and (max-width: 600px) {
	.form-container {
		margin: 0 auto;
		display: inline-block;
	}
}

.otp-form {
	margin-top: 90px;

}

@media screen and (max-width: 600px) {
	.otp-form {
		margin-top: 7vw;
	}
}

.otp-login-label {

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	text-align: left;


	color: #FFFFFF;

	margin: 0 0;
}

.otp-login-email {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	/* identical to box height */

	text-align: left;


	color: #FFFFFF;

	margin: 0 0;
}

@media screen and (max-width: 600px) {
	.otp-login-label, .otp-login-email {
		text-align: center;
	}
}

.otp-email-change-container {
	display: flex;
	flex-direction: row;
}

.otp-id-change-container {
	width: 100%;

	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
}

.otp-login-change {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;

	text-align: right;

	color: #FFFFFF;

	margin: 0 0;

	cursor: pointer;
	text-decoration: underline;
}

.otp-login-id, .otp-login-otp {

	width: 100%;
	height: 30px;

	padding-left:15px;

	background: #FFFFFF;
	border-radius: 65px;

	margin-top: 5px;

	font-family: Poppins;

}

.otp-login-otp {

	margin-top: 5px;

}

.otp-button-container {
	display: flex;
	flex-direction: row-reverse;

	width: 100%;
}

.otp-send-button, .otp-enter-button, .otp-resend-button {

	font-family: poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #FFFFFF;
	background: none;
	padding: 0;
	border: none;

	margin-top: 8px;
}

.otp-send-button,.otp-enter-button {
	text-align: right;
}

.otp-enter {
	flex-grow: 1;
}

.otp-otp-incorrect, .otp-id-incorrect, .otp-otp-sent {

	font-family: poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;

	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	.otp-otp-incorrect, .otp-id-incorrect, .otp-otp-sent {
		text-align: center;
	}
}

.otp-otp-incorrect, .otp-id-incorrect {
	color: #e24040;
}

.otp-otp-sent {
	color: #6ce924;
}

.signup-link {
	color: white;

	width: 100%;
	text-align: right;

	font-family: Poppins;

	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	.signup-link{
		text-align: center;
	}
}

.signup-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.otp-button.otp-enter {
	display: flex;
	flex-direction: row-reverse;

}

.otp-all-button{
	padding-left: 9px;
	padding-right: 9px;
	height: 35px;

	border: 2px solid #F9F9F9;
	border-radius: 39px;

	background-color: transparent;


	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;

	text-align: center;

	color: #F9F9F9;

	cursor: pointer;
}

.otp-all-button:hover {
	background-color: #F9F9F9;
	color: #363636;
}

@media screen and (max-width: 600px) {
	.otp-single {
		margin: 0 auto;
	}
}