@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.page-container {
	background-color: #181918;
	height: 100%;
	width: 100%;
	padding-left: 60px;

	padding-right: 60px;

	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 670px) {
	.page-container {
		flex-direction: column;
	}
}

.title-container {
	width: calc(62.9vw);
}

@media screen and (max-width: 1200px) {
	.title-container {
		width: calc(52.9vw);
	}
}

@media screen and (max-width: 930px) {
	.title-container {
		width: calc(42.9vw);
	}
}

@media screen and (max-width: 770px) {
	.title-container {
		width: calc(32.9vw);
	}
}

.main_title {
	font-family: colombo, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	line-height: 144px;

	margin: 0 0;

	margin-top: calc(228*100vh/720);

	color: #FFFFFF;

	mix-blend-mode: normal;
}

@media screen and (min-width: 1400px)
{
	.main_title {
		font-size: calc(120*100vw/1280);
		line-height: calc(144*100vw/1280);
		margin-top: calc(228*100vh/720 - 60px);
	}
}

@media screen and (max-width: 920px)
{
	.main_title {
		font-size: 86px;
		line-height: 103.5px;
	}
}

@media screen and (max-width: 670px)
{
	.main_title {
		font-size: 62px;
		line-height: 75.3px;
		margin-top: calc(228*100vh/720 - 100px);
	}
}

@media screen and (max-width: 512px)
{
	.main_title {
		font-size: 48px;
		line-height: 57.6px;
	}
}

@media screen and (max-width: 420px)
{
	.main_title {
		font-size: calc(120*100vw/1280);
		line-height: calc(144*100vw/1280);
	}
}