.opps-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;

	margin-left: -30px;
	margin-right: -30px;
}

.opp-card-container {
	margin-left: 30px;
	margin-bottom: 30px;

	height: 200px;
	width: 275px;
	width: calc((100vw - 90px - 3 * 30px)/4);

	font-size: 24px;
}

@media screen and (min-width: 1360px) {
	
	.opp-card-container {
		width: calc((100vw - 90px - 4 * 30px)/5);
		height: calc((100vw - 90px - 4 * 30px)*200/(5*275));
		font-size: calc((100vw - 90px - 4 * 30px)*24/(5*275));
	}
}

@media screen and (max-width: 1020px) {
	.opp-card-container {
		width: calc((100vw - 90px - 2 * 30px)/3);
	}
}

@media screen and (max-width: 790px) {
	.opps-list {
		margin-left: calc(-100vw * 0.0234);
		margin-right: calc(-100vw * 0.0234);
	}

	.opp-card-container {
		margin-bottom: calc(100vw * 0.0234);
		margin-left: calc(100vw * 0.0234);;

		width: calc((100vw - 90px - 1 * 100vw * 0.0234)/2);
		height: calc((100vw - 90px - 1 * 100vw * 0.0234)*100/275);
		font-size: calc((100vw - 90px - 1 * 100vw * 0.0234)*24/(2*275));
	}
}

@media screen and (max-width: 600px) {
	.opp-card-container {
		margin-left: 20px;
		margin-bottom: calc(100vw * 0.0234);
		width: calc((100vw - 40px - 20px)/2);
		height: calc((100vw - 40px - 20px)*100/275);
		font-size: calc((100vw - 40px - 20px)*12/275);
	}

	.opps-list {
		margin-left: -45px;
		margin-right: -45px;
	}
}