<div *ngIf="show" (click)="close()" class="overlay-with-bg">
	<div class="overlay-container" (click)="stopPropagate($event)">
		<div class="overlay-header">
			<div class="overlay-header-left">
			</div>
			<div class="overlay-title">
				{{title}}
			</div>
			<div class="overlay-cross">
				<mat-icon (click)="close()">close</mat-icon>
			</div>
		</div>
		<div class="follow-list">
			<div class="scrollable">
				<div *ngFor="let user of user_list" class="follow-container">
					<div class="icon-container"><a routerLink="{{'/profilev2/' + user.username}}" (click)="close()"><img class="reg-icon"></a></div>
					<div class="name-container"><div><a routerLink="{{'/profilev2/' + user.username}}" (click)="close()">{{user.name}}</a></div></div>
					<button *ngIf="show_followed(user)" [ngClass]="followed_class(user)" (click)="onFollowClick(user)"><span>{{follow_string(user)}}</span></button>
				</div>
			</div>
			
		</div>
	</div>
</div>
