.overlay-with-bg {
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;

	z-index: 100;

	background: rgba(24, 25, 24, 0.2);
	backdrop-filter: blur(20px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-container {
	width: 562px;
	height: calc(508*100vh/720);

	/* Grey */

	background: #363636;
	border-radius: 40px;
}

@media screen and (max-width: 602px) {
	.overlay-container {
		width: calc(100vw - 40px);
	}
}

.overlay-header {
	width: 100%;

	display: flex;
	flex-direction: row;

	padding-top: 15px;
}

.overlay-header-left {
	width: 30%;
	min-width: 30%;
}

.overlay-title {
	width: 40%;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 54px;

	text-align: center;

	color: #F9F9F9;
}

@media screen and (max-width: 600px) {
	.overlay-title {
		font-size: 25px;
	}
}

.overlay-cross {
	width: 30%;
	min-width: 30%;

	text-align: right;

	padding-top: 15px;
	padding-right: 30px;
}

.overlay-cross>mat-icon {

	cursor: pointer;

	height: 25px;
	width: 25px;
	font-size: 31px;
	line-height: 25px;

	color: #F9F9F9;
}

.follow-list {

	padding-right: 30px;
	padding-left: 30px;

	height: calc(508*100vh/720 - 69px);
}

.follow-container {
	width: 100%;

	display: flex;
	flex-direction: row;

	margin-bottom: 15px;
}

.icon-container {
	height: 50px;
}

@media screen and (max-width: 520px) {
	.icon-container {
		height: 25px;
	}
}

.reg-icon {
	vertical-align: middle;
	max-width: auto;
	height: 100%;

	border-radius: 50%;

	box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);

	content: url('/assets/images/placeholder.jpg');
}

.name-container {
	margin-left: 15px;
	
	display: flex;
	align-items: center; 

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 117.5%;

	color: #F9F9F9;

	flex-grow: 1;
}

@media screen and (max-width: 520px) {
	.name-container {
		font-size: 16px;
		line-height: 117.5%;
		height: 25px;
	}
}


a:link, a:visited, a:hover, a:active {
	color: #F9F9F9;
	text-decoration: none;
}

.follow-button {
	float: right;
	height: 34px;

	border-radius: 25px;


	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 117.5%;

	text-align: center;

	min-width: 105px;

	cursor: pointer;
}

@media screen and (max-width: 520px) {
	.follow-button {
		font-size: 14px;
		line-height: 117.5%;
		height: 25px;
	}
}

.follow-button.followed {
	border: 1px solid #F9F9F9;
	background-color: transparent;
	color: #F9F9F9;
}

.follow-button.followed:hover {
	border: 1px solid #EB5757;
	background-color: #EB5757;
	color: #F9F9F9;
}

.follow-button.unfollowed {
	border: 1px solid #F9F9F9;
	background-color: transparent;
	color: #F9F9F9;
}

.follow-button.unfollowed:hover {
	background-color: #5c5c5c;
	color: #F9F9F9;
}

.follow-button.followed:hover:before {
	content:"Unfollow";
}

.follow-button.followed:hover span {
	display: none;
}

.scrollable {
	padding-top: 34px;
	height: 100%;
	overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}