<div class="page-container">
	<div class="profile-all-container">
		<div class="profile-details-container">
			<div class="profile-image-container">
				<img class="reg-icon" src="{{dpUrl}}">
			</div>
			<div class="profile-text-container">
				<div class="name-container">
					<p class="name-content">{{user?.name}}</p>
				</div>
				<div class="college-container">
					<p class="college-content">{{user?.college}}</p>
				</div>
				<div class="year-branch-container">
					<p class="year-branch-content">{{user?.year | toNth}} year | {{user?.branch}}</p>
				</div>
				<hr class="year-branch-divider"><br>
				<div class="follower-container">
					<p class="follower-content" (click)="overlayShow=true; overlayType='Followers'"><b>{{user?.followers.length}}</b> Followers</p>
					<p class="following-content" (click)="overlayShow=true; overlayType='Following'"><b>{{user?.following.length}}</b> Following</p>
				</div>
				<div class="email-container">
					<p class="email-content">{{user?.email}}</p>
				</div>
			</div>
			<div>
				<div class="profile-button-email-container"> 
					<div class="edit-button-container">
						<button class="edit-button" (click)="onEditClick()">Edit Profile</button>
					</div>
					<div class="share-button" (click)="showCopyMessage()" [cdkCopyToClipboard]="clipboardMessage"></div>
				</div>
				<div id="copied-message" *ngIf="clipboardCopied" >Referral Message copied!</div>
			</div>
		</div>
		<div class="profile-about-container">
			<div class="about-container">
				<label class="about-label">About</label><br>
				<p class="about-content">{{user?.bio}}</p>
			</div>
		</div>
		<div class="profile-domains-container">
			<div class="domains-container">
				<mat-button-toggle-group disabled multiple name="domain-choice" aria-label="Domain Choice">
					<mat-button-toggle *ngFor="let domain of domain_prefs" class="{{domain}}" value="{{domain}}">{{domain_prefs_list[domain]}}</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
		</div>
		<div *ngIf="user?.pursued.length > 0" class="opps-form-container">
			<label class="opps-form-label">Opportunities Pursued</label>
			<div class="opps-form-content">
				<ul>
					<li *ngFor="let pursued of user.pursued" class="opps-content">{{pursued.Name_of_Program}}<div class="remove-button" (click)="removePursued(pursued)"></div></li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="wishlist?.length > 0" id="profile_wishlist" class="wishlist-container">
		<p class="wishlist-label">Wishlist</p>
		<app-opps-wishlist [wishlist]="wishlist"></app-opps-wishlist>
	</div>
	<p (click)="logout()" class="logout" >Log Out</p>
	<!--<p class="about-label">About</p>

	<p class="name">{{user?.name}}</p>
	<p class="college">{{user?.college}}</p>
	<p class="year-branch">{{user?.yearOfStudy}} | {{user?.branch}}</p>
	<p class="email">{{user?.email}}</p>

	<p class="about">{{user?.bio}}</p>

	<p class="ops-label">Opportunities Pursued</p>
	<p class="ops">{{ops}}</p>

	<div class="wishlist-container">
		<p class="wishlist-label">Wishlist</p>
		<app-opps-wishlist></app-opps-wishlist>
		<p (click)="logout()" class="logout" >Logout</p>
	</div>

	<input class="edit" type="submit" value="Edit Profile" (click)="onClick()">
	-->
</div>
<app-follow-overlay [show]="overlayShow" [title]="overlayType" (onClose)="overlayShow=false" [users]="overlayType=='Followers' ? user?.followers : user?.following"></app-follow-overlay>