<div *ngIf="show" (click)="close()" class="overlay-with-bg">
	<div class="overlay-container scrollable" (click)="stopPropagate($event)">
		<div class="flex-row row-nowrap" id="dp-wrapper">
			<div class="flex-row" id="dp-wrapper-inner">
				<div *ngFor="let img of dpUrls[selectedColor]" class="dp-bg" [class.selected]="img.key == selectedImage"
				(click)="select(img.key)">
					<img class="dp-img" src="{{img.url}}">
				</div>
			</div>
			<div class="flex-col desktop" id="col-wrapper">
				<div class="color-img" *ngFor="let color of colorOrder" id="{{color}}"
				[class.selected]="color == selectedColor" (click)="selectColor(color)"></div>
			</div>
		</div>
		<div class="flex-row mobile" id="mobile-col-wrapper">
			<div class="color-img" *ngFor="let color of colorOrder" id="{{color}}"
				[class.selected]="color == selectedColor" (click)="selectColor(color)"></div>
		</div>
		<div id="wrapper">
			<button class="button" id="save" [class.button-invalid]="spin" [disabled]="spin" (click)="save()">Save</button>
		</div>
	</div>
</div>
