@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.page-container {
	background-color: #181918;
	height: 100%;
	width: 100%;
	padding-left: 60px;
	padding-top: 168px;
	padding-right: 60px;
}

.main_title {
	width: 62.9%;
	font-family: colombo, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	line-height: 144px;

	margin: 0 0;

	color: #FFFFFF;

	mix-blend-mode: normal;
}

@media screen and (max-width: 920px)
{
	.main_title {
		font-size: 86px;
		line-height: 103.5px;
	}
}