<div class="page-container" #scrollFrame1>
	<div class="title-page-container">
		<span id="top"></span>
		<div class="title-container">
			<h1 class="main_title">{{title}}</h1>	
		</div>
	</div>
	<div class="search-page-container">
		<span id="bottom"></span>
		<div class="shadow-container" [@shadowTrigger]="isScrolledToTop ? 'hasNoShadow' : 'hasShadow'">
			<form [formGroup]="searchForm" (ngSubmit)="search()">
				<div class="search-container">
					<div class="search-row">
						<div class="search-bar">
							<mat-icon *ngIf="!spin" [ngClass]="search_icon_class">search</mat-icon>
							<mat-spinner *ngIf="spin && isMobile" diameter=16></mat-spinner>
							<mat-spinner *ngIf="spin && !isMobile" diameter=20></mat-spinner>
							<input [ngClass]="search_input_class" type="search" id="searchstring" name="searchstring" placeholder="Search" autocomplete="off" autocorrect="off" spellcheck="false" formControlName="searchstring">
							<div *ngIf="isMobile" class="filter-button" (click)="isOverlayOpen = true">
								<img src="/assets/svg/filter.svg" id="filter-button">
							</div>
						</div>
						<div class="search-type-toggle">
							<mat-button-toggle-group name="search-type-toggle" formControlName="searchtype">
								<mat-button-toggle *ngFor="let type of search_types" disableRipple id="{{type.name}}" value="{{type.name}}">{{type.name}}</mat-button-toggle>
							</mat-button-toggle-group>
						</div>
					</div>
					<form *ngIf="searchForm.value['searchtype'] == 'Opps'" [formGroup]="oppsFilterForm">
						<div class="filter-container">
							<!---<div class="domain-filter">
								<mat-placeholder class="domain-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">casino</mat-icon><span class="domain-label-string">Domain</span></mat-placeholder>
								<mat-select disableOptionCentering>
								</mat-select>
							</div>-->
							<div class="sub-filter" id="domain-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/domain.svg"
								placeholder="Domains"
								styleType="home"
								formControlName="domain"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of domains_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
							<div class="sub-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/date.svg"
								placeholder="Date"
								styleType="home"
								formControlName="date"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of months_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
							<div class="sub-filter" id="region-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/region.svg"
								placeholder="Region"
								styleType="home"
								formControlName="region"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of regions_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
							<div class="sub-filter" id="funding-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/funding.svg"
								placeholder="Funding"
								styleType="home"
								formControlName="funding"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of funding_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
						</div>
					</form>
					<form *ngIf="searchForm.value['searchtype'] == 'People'" [formGroup]="userFilterForm">
						<div class="filter-container">
							<div class="sub-filter" id="college-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/college.svg"
								placeholder="College"
								styleType="home"
								formControlName="college"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of college_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
							<div class="sub-filter" id="year-filter">
								<app-custom-select [required]="true"
								labelUrl="/assets/svg/year.svg"
								placeholder="Year"
								styleType="home"
								formControlName="year"
								>
									<app-custom-select-option value='All'></app-custom-select-option>
									<app-custom-select-option *ngFor="let tag of year_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
								</app-custom-select>
							</div>
						</div>
					</form>
				</div>
			</form>
		</div>
		<div [ngClass]="list_class" (scroll)="scrolled()" [style.height.px]="isMobile ? getHeight - 130 : getHeight - 180" #scrollFrame>
			<div *ngIf="searchForm.value['searchtype'] == 'Opps'" class="opps-list-inner">
				<div class="opp-card-container" *ngFor="let opportunity of opportunity_list">
					<app-opps-card [opps]="opportunity"></app-opps-card>
				</div>
			</div>
			<div *ngIf="searchForm.value['searchtype'] == 'People'" class="user-list-inner">
				<div class="user-card-container" *ngFor="let user of user_list">
					<app-user-card [user]="user"></app-user-card>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isOverlayOpen" class="overlay-with-bg" (click)="isOverlayOpen=false">
		<div class="overlay-container" (click)="stopPropagate($event)">
			<form *ngIf="searchForm.value['searchtype'] == 'Opps'" [formGroup]="oppsFilterForm">
				<div class="filter-mobile-container">
					<!---<div class="domain-filter">
						<mat-placeholder class="domain-filter-label"><mat-icon class="sub-icon" fontSet="material-icons-outlined">casino</mat-icon><span class="domain-label-string">Domain</span></mat-placeholder>
						<mat-select disableOptionCentering>
						</mat-select>
					</div>-->
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/domain.svg"
						placeholder="Domains"
						styleType="home"
						formControlName="domain"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of domains_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/date.svg"
						placeholder="Date"
						styleType="home"
						formControlName="date"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of months_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/region.svg"
						placeholder="Region"
						styleType="home"
						formControlName="region"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of regions_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/funding.svg"
						placeholder="Funding"
						styleType="home"
						formControlName="funding"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of funding_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
				</div>
			</form>
			<form *ngIf="searchForm.value['searchtype'] == 'People'" [formGroup]="userFilterForm">
				<div class="filter-mobile-container">
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/college.svg"
						placeholder="College"
						styleType="home"
						formControlName="college"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of college_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
					<div class="sub-filter sub-mobile">
						<app-custom-select [required]="true"
						labelUrl="/assets/svg/year.svg"
						placeholder="Year"
						styleType="home"
						formControlName="year"
						>
							<app-custom-select-option value='All'></app-custom-select-option>
							<app-custom-select-option *ngFor="let tag of year_vector" key="{{tag.slug}}" value="{{tag.name}}"></app-custom-select-option>
						</app-custom-select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>