.core.domain-pref-circ {
	background: #05905F;
}

.it.domain-pref-circ {
	background: #FF9D63;
}

.consult.domain-pref-circ {
	background: #E76D50;
}

.fin.domain-pref-circ {

	background: #D67BBB;
}

.ent.domain-pref-circ {
	background: #225882;
}

.socdev.domain-pref-circ {
	background: #2BA9CA;
}