@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

p {
	margin: 0 0;
}

.user-card {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;

	box-shadow: 0px 8px 14px rgba(167, 167, 167, 0.4);
	border-radius: 4%/12.5%;

	padding: 3.1%;
	display: flex;

	background-color: white;

	font-family: poppins;
	font-style: normal;

	font-size: 100%;
}

.icon-container {
	max-width: 26%;
}

.reg-icon {
	vertical-align: middle;
	max-width: auto;
	height: 100%;

	border-radius: 50%;

	box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);

	content: url('/assets/images/placeholder.jpg');
}

.user-text-container {
	padding-left: 3.5%;
	padding-top: 3px;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.user-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 100%;
	line-height: 105%;


	color: #181918;
}

.user-college {
	margin-top: 5px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 58.3%;
	line-height: 105%;

	color: #181918;
}

.user-year {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 41.6%;
	line-height: 100%;

	color: #181918;

	flex-grow: 1;

	margin-top: 5px;

}

.follow-button-container {
	height: 18%;

	display: flex;
	flex-direction: row;
}

.domain-prefs {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
}

.domain-pref-circ {

	height: 17px;
	width: 17px;

	border-radius: 17px;

	margin-right: 6px;
}

.follow-button {
	height: 100%;

	min-width: 28%;

	border-radius: 37px;


	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 50%;
	line-height: 100%;

	text-align: center;
}

.follow-button.followed {
	border: 1px solid #181918;
	background-color: #181918;
	color: #F9F9F9;
}

.follow-button.followed:hover {
	border: 1px solid #EB5757;
	background-color: #EB5757;
	color: #F9F9F9;
}

.follow-button.unfollowed {
	border: 1px solid #181918;
	background-color: transparent;
	color: #181918;
}

.follow-button.followed:hover:before {
	content:"Unfollow";
}

.follow-button.followed:hover span {
	display: none;
}