<div class="page-container">
	<form id="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<div class="profile-details-container">
			<div class="profile-image-container">
				<img class="reg-icon">
			</div>
			<div class="profile-text-container">
				<div class="name-container">
					<label class="name-label">Name</label><br>
					<input autocomplete="off" autocorrect="off" spellcheck="false" class="name-content" name="name-content" formControlName="name">
				</div>
				<div class="college-container">
					<label class="college-label">College</label><br>
					<input readonly autocomplete="off" autocorrect="off" spellcheck="false" class="college-content" name="college-content" value="{{user?.college}}">
				</div>
				<div class="year-branch-container">
					<div class="year-container">
						<label class="year-label">Year</label><br>
						<input autocomplete="off" autocorrect="off" spellcheck="false" class="year-content" name="year-content" formControlName="year">
					</div>
					<div class="branch-container">
						<label class="branch-label">Branch</label><br>
						<input autocomplete="off" autocorrect="off" spellcheck="false" class="branch-content" name="branch-content" formControlName="branch">
					</div>
				</div>
			</div>
			<div class="profile-button-email-container">
				<div class="edit-button-container">
					<button for="profileForm" class="edit-button">Save</button>
				</div>
				<div class="email-container">
					<p class="email-content">{{user?.email}}</p>
				</div>
			</div>
		</div>
		<div class="profile-about-container">
			<div class="about-container">
				<label class="about-label">About</label><br>
				<textarea autocomplete="off" autocorrect="off" spellcheck="false" class="about-content" name="about-content" formControlName="bio"></textarea>
			</div>
		</div>
	</form>
	<div class="profile-domains-container">
		<div class="domains-container">
			<label class="domains-label">Domain Interests</label><br>
			<mat-button-toggle-group multiple name="domain-choice" aria-label="Domain Choice">
				<mat-button-toggle class="core" value="Core">Core</mat-button-toggle>
				<mat-button-toggle class="it" value="IT">IT/Coding</mat-button-toggle>
				<mat-button-toggle class="consulting" value="consulting">Consulting</mat-button-toggle>
				<mat-button-toggle class="ent" value="ent">Entrepeneurship</mat-button-toggle>
				<mat-button-toggle class="finance" value="finance">Finance</mat-button-toggle>
				<mat-button-toggle class="socdev" value="socdev">SocDev & Policy</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>
	<div class="opps-form-container">
		<label class="opps-form-label">Opportunities Pursued</label>
		<div class="opps-form-content">
			<textarea autocomplete="off" autocorrect="off" spellcheck="false" class="opps-content" name="opps-content" value="{{ops}}"></textarea>
		</div>
	</div>
</div>
<!--<img class="reg-icon">

<p class="first-name-label">First Name</p>
<p class="college-label">College</p>
<p class="year-label">Year</p>
<p class="branch-label">Branch</p>
<p class="about-label">About</p>
<p class="domain-label">Domain Interests</p>

<p class="domain">
	<mat-button-toggle-group name="domain-choice" aria-label="Domain Choice">
		<mat-button-toggle class="core" value="Core">Core</mat-button-toggle>
		<mat-button-toggle class="it" value="IT">IT/Coding</mat-button-toggle>
		<mat-button-toggle class="consulting" value="consulting">Consulting</mat-button-toggle>
		<mat-button-toggle class="ent" value="ent">Entrepeneurship</mat-button-toggle>
		<mat-button-toggle class="finance" value="finance">Finance</mat-button-toggle>
		<mat-button-toggle class="socdev" value="socdev">SocDev & Policy</mat-button-toggle>
	</mat-button-toggle-group>
</p>

<p class="ops-label">Opportunities Pursued</p>
<p class="ops">{{ops}}</p>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
	<div class="form-field">
		<input type="text" id="name" name="name" class="form-input name" [ngModel]="user?.name" ngModel required>
	</div>
	
	<input type="text" id="college" name="college" class="college" [ngModel]="user?.college" ngModel required>
	<input type="text" id="year" name="year" class="year" [ngModel]="user?.yearOfStudy" ngModel required>
	<input type="text" id="branch" name="branch" class="branch" [ngModel]="user?.branch" ngModel required>
	<input type="text" id="about" name="bio" class="about" [ngModel]="user?.bio" ngModel required>
	<p class="email">{{user?.email}}</p>
	<input class="save" type="submit" value="Save">
</form>
-->