.opp-title-container.core, .core #not-pursued:hover {
	background-color: #05905F;
}

.opp-title-container.it, .it #not-pursued:hover {
	background-color: #FF9D63;
}

.opp-title-container.consult, .consult #not-pursued:hover {
	background-color: #E76D50;
}

.opp-title-container.fin, .fin #not-pursued:hover {
	background-color:#D67BBB;
}

.opp-title-container.ent, .ent #not-pursued:hover {
	background-color:#225882;
}

.opp-title-container.socdev, .socdev #not-pursued:hover {
	background-color: #2BA9CA;
}

#not-pursued:hover {
	color: #f9f9f9;
}

.opp-detailed-container {
	background-color: #F9F9F9;
}

.core .opp-interested-button.interested, .core .opp-interested-number.interested, .core #post-test-link>a:link, .core #post-test-link>a:visited, .core #post-test-link>a:hover, .core #post-test-link>a:active, .core #report>a:link, .core #report>a:visited, .core #report>a:hover, .core #report>a:active {
	color: #05905F;
}

.it .opp-interested-button.interested, .it .opp-interested-number.interested, .it #post-test-link>a:link, .it #post-test-link>a:visited, .it #post-test-link>a:hover, .it #post-test-link>a:active, .it #report>a:link, .it #report>a:visited, .it #report>a:hover, .it #report>a:active {
	color: #FF9D63;
}

.consult .opp-interested-button.interested, .consult .opp-interested-number.interested, .consult #post-test-link>a:link, .consult #post-test-link>a:visited, .consult #post-test-link>a:hover, .consult #post-test-link>a:active, .consult #report>a:link, .consult #report>a:visited, .consult #report>a:hover, .consult #report>a:active  {
	color: #E76D50;
}

.fin .opp-interested-button.interested, .fin .opp-interested-number.interested, .fin #post-test-link>a:link, .fin #post-test-link>a:visited, .fin #post-test-link>a:hover, .fin #post-test-link>a:active, .fin #report>a:link, .fin #report>a:visited, .fin #report>a:hover, .fin #report>a:active  {
	color: #D67BBB;
}

.ent .opp-interested-button.interested, .ent .opp-interested-number.interested, .ent #post-test-link>a:link, .ent #post-test-link>a:visited, .ent #post-test-link>a:hover, .ent #post-test-link>a:active, .ent #report>a:link, .ent #report>a:visited, .ent #report>a:hover, .ent #report>a:active{
	color: #225882;
}

.socdev .opp-interested-button.interested, .socdev .opp-interested-number.interested, .socdev #post-test-link>a:link, .socdev #post-test-link>a:visited, .socdev #post-test-link>a:hover, .socdev #post-test-link>a:active, .socdev #report>a:link, .socdev #report>a:visited, .socdev #report>a:hover, .socdev #report>a:active {
	color: #2BA9CA;
}

.core .opp-main-details-container {
	background-color: #D4E9E2;
}

.it .opp-main-details-container {
	background-color: #FAECDE;
}

.consult .opp-main-details-container {
	background-color: #FBE9E5;
}

.fin .opp-main-details-container {
	background-color: #F1E4ED;
}

.ent .opp-main-details-container {
	background-color: #D9E1E7;
}

.socdev .opp-main-details-container {
	background-color: #DAEDF2;
}

.core .opp-deadline-label, .core .opp-location-label, .core .opp-date-label, .core .opp-deadline, .core .opp-location, .core .opp-date, .core .opp-country, .core .opp-tag, .core .opp-about-container, .core .pursued-container {
	color: #05905F;
}

.it .opp-deadline-label, .it .opp-location-label, .it .opp-date-label, .it .opp-deadline, .it .opp-location, .it .opp-date, .it .opp-country, .it .opp-tag, .it .opp-about-container, .it .pursued-container {
	color: #FF9D63;
}

.consult .opp-deadline-label, .consult .opp-location-label, .consult .opp-date-label, .consult .opp-deadline, .consult .opp-location, .consult .opp-date, .consult .opp-country, .consult .opp-tag, .consult .opp-about-container, .consult .pursued-container {
	color: #E76D50
}

.fin .opp-deadline-label, .fin .opp-location-label, .fin .opp-date-label, .fin .opp-deadline, .fin .opp-location, .fin .opp-date, .fin .opp-country, .fin .opp-tag, .fin .opp-about-container, .fin .pursued-container {
	color: #D67BBB;
}

.ent .opp-deadline-label, .ent .opp-location-label, .ent .opp-date-label, .ent .opp-deadline, .ent .opp-location, .ent .opp-date, .ent .opp-country, .ent .opp-tag, .ent .opp-about-container,.ent .pursued-container {
	color: #225882
}

.socdev .opp-deadline-label, .socdev .opp-location-label, .socdev .opp-date-label, .socdev .opp-deadline, .socdev .opp-location, .socdev .opp-date, .socdev .opp-country, .socdev .opp-tag, .socdev .opp-about-container, .socdev .pursued-container {
	color: #2BA9CA;
}

.core .opp-location-divider {
	border-top: 1px #05905F;
}

.it .opp-location-divider {
	border-top: 1px #FF9D63;
}

.consult .opp-location-divider {
	border-top: 1px #E76D50
}

.fin .opp-location-divider {
	border-top: 1px #D67BBB;
}

.ent .opp-location-divider {
	border-top: 1px #225882
}

.socdev .opp-location-divider{
	border-top: 1px #2BA9CA;
}

.core .opp-tag, .core #not-pursued {
	border: 1px solid #05905F;
}

.it .opp-tag, .it #not-pursued {
	border: 1px solid #FF9D63;
}

.consult .opp-tag, .consult #not-pursued{
	border: 1px solid #E76D50;
}

.fin .opp-tag, .fin #not-pursued {
	border: 1px solid #D67BBB;
}

.ent .opp-tag, .ent #not-pursued {
	border: 1px solid #225882;
}

.socdev .opp-tag, .socdev #not-pursued{
	border: 1px solid #2BA9CA;
}

#not-pursued {
	border-width: 3px !important;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
	stroke: #181819;
}