<div class="page-container">
	<div class="opp-title-container">
		<div class="opp-text-container">
			<div class="opp-name-container">
				<p class="opp-name">{{opps.Name_of_Program}}</p>
			</div>
			<div class="opp-organiser-container">
				<p class="opp-organiser">{{opps.Organiser}}</p>
			</div>
			<div class="opp-interested-button-container">
				<p class="opp-interested-button">{{opps.Organiser}}</p>
			</div>
		</div>
	</div>
	<div class="opp-detailed-container">
		<p style="font-size: xx-large;">TEXT</p>
		<p style="font-size: xx-large;">TEXT</p>
		<p style="font-size: xx-large;">TEXT</p>
		<p style="font-size: xx-large;">TEXT</p>
		<p style="font-size: xx-large;">TEXT</p>
	</div>
</div>
