.opp-title-container.core {
	background-color: #05905F;
}

.opp-detailed-container.core {
	background-color: #D4E9E2;
}

.opp-title-container.it {
	background-color: #FF9D63;
}

.opp-detailed-container.it {
	background-color: #FAECDE;
}

.core .opp-interested-button.interested {
	color: #05905F;
}

.it .opp-interested-button.interested {
	color: #FF9D63;
}