<div class="page-container" #scrollFrame (scroll)="scrolled()">
	<span id="moveTop"></span>
	<div [ngClass]="title_class">
		<div class="opp-name-org-image-container">
			<div class="opp-text-container">
				<div class="opp-name-container">
					<p class="opp-name"><a class="nocolor" href="{{opps?.Site}}">{{opps?.Name_of_Program}}</a></p>
				</div>
				<div class="opp-organiser-container">
					<p class="opp-organiser">{{opps?.Organiser}}</p>
				</div>
				<div class="opp-interested-button-container">
					<button [ngClass]="interested_class" (click)="interestedClick()"><span [hidden]="opps?.isInWishlist">Add to Wishlist?</span></button>
					<button [ngClass]="interested_number_class">{{opps?.numUsers}}</button>
				</div>
			</div>
			<div class="opp-image-container">
				<img class="opp-icon" src="{{tags_vector[opps?.Type]}}">
			</div>
		</div>
		<div class="opp-domain-type-container">
			<div class="opp-domain-type">
				{{domain_type_api[opps?.domain]}} | {{opps?.Type}}
			</div>
		</div>
	</div>
	<div [ngClass]="detail_class">
		<div class="opp-main-details-container">
			<div class="opp-deadline-loc-date-container">
				<div class="opp-deadline-container desktop-large">
					<div class="opp-deadline-label">
						Deadline
					</div>
					<div class="opp-deadline">
						{{opps?.Deadline_Comp}}
					</div>
				</div>
				<div class="opp-location-container">
					<div class="opp-location-label">
						Location
					</div>
					<div class="opp-location">
						{{location_type}}
					</div>
					<hr class="opp-location-divider">
					<div class="opp-country">
						{{opps?.Location}}
					</div>
				</div>
				<div class="opp-date-container desktop-large">
					<div class="opp-date-label">
						Date
					</div>
					<div class="opp-date">
						{{opps?.Deadline_Reg}}
					</div>
				</div>
			</div>
			<div class="opp-deadline-loc-date-container desktop-small">
				<div class="opp-deadline-container desktop-small">
					<div class="opp-deadline-label">
						Deadline
					</div>
					<div class="opp-deadline">
						{{opps?.Deadline_Comp}}
					</div>
				</div>
				<div class="opp-date-container desktop-small">
					<div class="opp-date-label">
						Date
					</div>
					<div class="opp-date">
						{{opps?.Deadline_Reg}}
					</div>
				</div>
			</div>
			<div class="opp-tags-container">
				<div class="opp-tag" *ngFor="let tag of opps?.tags">
					{{tag.name}}
				</div>
			</div>
			<div class="opp-about-container">
				{{opps?.About}}
			</div>
			<div class="opp-link opp-about-container">
				Link to Opportunity Website:<br><br>
				<a href="{{opps?.Site}}" class="opp-about-container">
					{{opps?.Site}}
				</a>
			</div>
		</div>

		<div *ngIf="opps?.Testimonials">
			<label class="opp-testimonial-label">Testimonials</label>
			<div class="opp-testimonial-container">
				<p class="opp-testimonial">{{opps?.Testimonials}}</p>
			</div>
		</div>

		<div class="opp-comments-recc-container">
			<div class="opp-recc-container">
				<label class="opp-recc-label">Similar Opportunities</label>
				<!--<div class="opps-list">
					<div class="opp-card-container" *ngFor="let opportunity of recc_opps | slice:0:6">
						<app-opps-card [opps]="opportunity" [type]="'recc'"></app-opps-card>
					</div>
				</div>-->
				<div id="reccs">
					<app-opps-wishlistv2 [wishlist]='recc_opps | slice:0:8'></app-opps-wishlistv2>
				</div>
			</div>
			<div class="opp-comments-container">
				<label class="opp-thread-label">Threads</label>
				<form class="opp-new-comment-container" (ngSubmit)="submitComment()" [formGroup]="commentForm">
					<div class="reg-icon-container">
						<img class="reg-icon">
					</div>
					<input autocomplete="off" spellcheck="false" class="opp-new-comment-input" placeholder="Have a question regarding the Opportunity?" formControlName="data">
				</form>
				<div class="opp-all-comments-container" *ngFor="let comment of opps?.comments">
					<div class="opp-parent-comment" *ngIf="comment.parent==null">
						<app-opp-detail-comment [comment]="comment" [opp]="opps" [depth]="false" (onReplySubmitted)="addToReplies($event)"></app-opp-detail-comment>
						<div class="opp-child-comment" *ngFor="let child_id of comment.children">
							<app-opp-detail-comment [comment]="comment_dict[child_id]" [opp]="opps" [depth]="true" (onReplySubmitted)="addToReplies($event)"></app-opp-detail-comment>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
